
body {
	
	font-family: 'Fira Sans', sans-serif;
	
	height: 100%;
	margin: 0;
	background: #dfdfdf;
	
}


.navbar {
	
	background: #0a2645;
	font-size: 1em;
	padding: 10px 0;
	margin-bottom: 12px;
	
}

.nav-items {
	
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	
}

.nav-items li {
	
	float: left;

	
}

.nav-items li a {
	
	display: block;
    color: white;
    text-align: center;
    padding: 4px 20px;
    text-decoration: none;
	
}

.header {

	margin: 0;
	color: #f5f5f5;
	padding: 8px 20px;
	font-size: 1.2em;
	background: #00b7ea; /* Old browsers */
	background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

}

.brand {
	
	display: inline-block;
	padding: 5px;
	
}

.brand-logo {
	
	display: block;
	font-size: 2em;
	margin: 0;
	color: white !important;
	
}

.brand-logo a {
	
	color: inherit;
	text-decoration: none;
	
}

.brand-slogan {
	
	margin: 0;
	padding: 0;
	display: inline-block;
	color: white;
	font-size: 1.1em;
	font-style: italic;
	
}

.shopping-cart {
	
	display: inline-block;
	float: right;
	
}

.button {
	
	padding: 8px;
	margin: 2px;
	color: white;
	font-weight: bold;
	border-radius: 8px;
	display: inline-block;
	border: none;
	cursor: pointer;
	
}

.button-small {
	
	width: 160px;
	
}

.button-medium {
	
	width: 220px;
	
}

.button-large {
	
	width: 260px;
	
}

.button-default {
	
	background: lightgray;
	color: #232323;
	
}

.button-neutral {
	
	background: orange;
	
}

.button-positive {
	
	background: green;
	
}

.button-negative {
	
	background: red;
	
}

.button i {

	margin-right: 8px;
	font-size: 2rem;
	
}

.button span {
	
	display: inline-block;
	margin-right: 10px;
	font-size: 1.1rem;
	
}

.button[disabled] {
	
	cursor: not-allowed;
	background: darkgray;
	
}

.clear-fix {
	
	clear: both;
	
}

.error-hidden {
	
	display: none;
	
}

.label-medium {
	
	display: inline-block;
	width: 120px;
	margin-bottom: 8px;
	
}

.label-large {
	
	display: inline-block;
	width: 260px;
	margin-top: 4px;
	margin-bottom: 8px;
	
}

.content-left {
	
	display: inline-block;
	min-width: 20%;
	
}

.content-right {
	
	display: inline-block;
	min-width: 80%;
	
}

.form-group {
	
	margin-bottom: 32px;
	
}

.form-group input[type="text"] {
	
	width: 180px;
	
}

.country {
	
	width: 184px;
	
	
}

.form-error {
	
	color: red;
	margin-left: 10px;

}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.container {
	
	margin: 2px auto;
	width: 1024px;
	
}

.content {
	
	background: white;
	margin: 8px 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
	
}

.justified-buttons {
	
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
    justify-content: space-between;
	margin-top: 20px;
	padding: 10px 20px;
	
}

.cart-positions {
	
	width: 100%;
	margin-bottom: 40px;
	
}

.cart-positions tr{
	
	min-height: 30px;
	
}

.cart-positions tr:nth-child(even) {
	
	min-height: 30px;
	background: #e4e8e3;
	
}

.cart-positions td {
	
	border-left: 1px solid #c7d3d8;
	text-align: center;
	
}

.cart-positions td:nth-child(1) {
	
	border-left: none;
	
}

.cart-positions button {
	
	width: 28px;
	margin-top: 4px;
	margin-left: 8px;
	
}

.cart-positions form {
	display: inline-block;
}

.cart-summary {
	
	width: 400px;
	float: right;
	
}

.cart-summary th {
	
	text-align: left;
	
}

.cart-summary td {
	
	text-align: right;
	
}

.cart-total-info {
	
	border-top: 1px solid lightgray;
	text-align: left;
	padding-top: 22px;
	color: #333;
	
}

.cart-count {
	
	float: right;
	border-radius: 20px;
	border: 1px solid darkblue;
	color: #222;
	padding: 4px;
	min-width: 16px;
	background: #eee;
	font-size: 0.75em;
	margin-left: 8px;
	margin-top: -86px;
	text-align: center;
	
	
}

.products-overview {
	
	margin-bottom: 28px;
	
}

.product-details {
	
	display: table;
	margin-top: 20px;
	padding: 10px;
	width: 100%;
	
}

.product-details .row {
	
	display: table-row;
	
}

.product-details .cell {
	
	display: table-cell;
	vertical-align: top;
	padding: 2px 12px;
	
}

.product-details .cell:nth-child(1) {
	
	width: 25%;
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #dde1e3;
	
}

.product-details .cell:nth-child(2) {
	
	width: 45%;
	border-right: 1px solid #dde1e3;
	
}

.product-details .cell:nth-child(3) {
	
	width: 25%;
	
}

.product-details img {
	
	display: inline-block;
	max-width: 180px;
	max-height: 180px;

	
}

.product-details h1 {
	
	font-size: 1.1em;
	
}

.product-details h2 {
	
	font-size: 1.2em;
	
}

.product-details h3 {
	
	font-size: 0.9em;
	
}

.product-details input[type="number"] {
	
	width: 30px;
	margin-top: 16px;
	margin-bottom: 10px;
	margin-right: 4px;
	
}

.country-table {
	
	width: 500px;
	margin-top: 20px;
	
}

.country-table th {
	
	text-align: left;
	padding: 12px 0;
	border-bottom: 1px solid #ddd;
	
}

.country-table td {
	
	border-bottom: 1px solid #ddd;
	
}

.country-table tr td:nth-child(2) {
	
	text-align: right;
	
}

.country-table tr th:nth-child(2) {
	
	text-align: right;
	
}

.payment-container {
	
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
    justify-content: space-between;
	margin-top: 20px;
	padding: 10px 20px;
	width: 500px;
	
}

.payment-section {
	
	max-width: 200px;
	
}



